<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a></p>
  <br>
<p>
	<h3>

          &nbsp;&nbsp;&nbsp;This is a web application which will provide a bus tracking service to particular company which is registered on it, using GPS technology. It will keep all bus drivers, passengers (employees) and company admin connected to each other as in network which will lead to easier communication between Company admin, bus drivers and passengers waiting on bus halts. 
	Using this application, employee can get to know current status and distance of the bus from the halt where he catches his bus regularly and the time bus will take to reach that halt. Also driver can dynamically know the location and number of employee waiting to catch the bus on each halt.
Also company admin can monitor whether there is any problem in any of the bus among all the buses running on different routes or whether any of the bus is taking any abnormal route.
</h3>
</p>
